.container {
  display: grid;
  margin: 92px 24px 96px 24px;  
  gap: 3px;
  grid-template-columns: 1fr 148px 1fr; /*148*/
  align-items: center;
}

.header_logo-image { /*лишнее*/
  width: 148px;
  height: 105px; 
}

.container address {  
  justify-self: end;  
  padding-right: 25.48px;    
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  width: 240.52px;  
}

.header_menu {
  padding: 44px 28px 39px 26.52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
}

.header_menu-list {
  display: flex;
  list-style: circle;
  gap: 28px;
}

.header_menu-item_no-bullit {
  display: flex;
  list-style: none;  
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.overlay {
  position: absolute;
  inset: 0;  
  opacity: 0.6;
  background: #000000;
}

.cover__title {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 10;
  margin-bottom: 128px;
  color: #ffffff;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-top: 20px;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}


.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  gap: 78px;
  justify-content: right;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  color: #ffffff;
}

.bet-button {  
  height: 52px;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 32px;
  background: transparent;
  border: 1px solid #ffffff;
}

.lots {
  margin-top: 179px;
  padding: 0 24px 24px 24px;
  gap: 25px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;  
  padding: 27px 0 27px 40px;
}

.lots__card-list {
  display: flex;  
  justify-content: space-between;
  padding-bottom: 30px;
  gap: 25px;
}

.lots_more {
  margin: 30px 0 0 40px;
  font-size: 20px;  
  border: 1px;  
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 563px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  text-decoration: none;
  width: 100%;
}

.card__contaner {
  display: flex;
  flex-direction: column;  
  margin-top: 51px;
  margin-bottom: 48px;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}

.card__title {
  display: flex;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  z-index: 1;
}

.about {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 339px auto;
  width: 1052px;  
  justify-items: center;
  gap: 20px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  gap: 0px;
  opacity: 0px;
  background: #000000;
  border-radius: 180px;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;  
}

.about__title {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  margin: 136px 0px 100px 0px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 24px;
}

.about__text:last-of-type {
  margin: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 180px;
  justify-content: space-between;
  padding: 0px 50px 88px 50px;  
}

.address-footer {
  font-style: normal; 
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
}

.footer_menu {
  display: flex;
  justify-content: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
}

.footer_menu-link_no-decoration {
  list-style: none;
  gap: 40px;
  text-decoration: none;
}

.footer_menu-item {
  list-style: none;
  text-align: center;
}

.footer_social-list {
  display: flex;
  list-style: none;
  width: 240px;  
  justify-content: space-between;
}

.footer_social-link {
  justify-content: space-between;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}
